<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
    rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <title>Portfoliya</title>
</head>
<body body style="background-color: #b8bbd1">
    <div class = "frame">
        <div class="main_frame">
            <div class="left_frame">

                <div class="left_1">
                    <div class="left_1-1">
                        <img src="public/person/icon/stave.png" 
                        alt="" width="156px" height="142px"/>
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left_icons">
                        <a class="link_href">
                            <div class="icon">
                                <img src="public/person/icon/drabble.png" class="icon-1" alt=""/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="public/person/icon/facebook.svg" class="icon-2" alt=""/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="public/person/icon/instagram.svg" class="icon-3" alt=""/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="public/person/icon/linkedin.svg" class="icon-4" alt=""/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="public/person/icon/twitter.svg" class="icon-5" alt=""/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/public/person/icon/Youtube.svg" class="icon-6" alt=""/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer">2</div>
                <div class="left_2">
                    <div class="left_2-1">
                        <div class="left_age-1">Age:</div>
                        <div class="left_residence-1">Residence:</div>
                        <div class="left_freelance-1">Freelance:</div>
                        <div class="left_adress-1">Adress:</div>
                    </div>
                    <div class="left_2-2">
                        <div class="left_age-2"><%=user.age%></div>
                        <div class="left_residence-2"><%=user.residence%></div>
                        <div class="left_freelance-2"><%=user.freelance%></div>
                        <div class="left_adress-2"><%=user.adress%></div> 
                    </div>
                </div>
                <div class="marginer">4</div>
                <div class="left_3">
                    <div class="left_languages">Languages</div>
                    <div class="left_3_c">
                        <div class="left_3-1">
                            <div class="left_bangla-1">Bangla:</div>
                            <div class="left_english-1">English</div>
                            <div class="left_spanish-1">Spanish:</div>
                        </div>
                        <div class="left_3-2">
                            <div class="left_bangla-2">100%</div>
                            <div class="left_english-2">80%</div>
                            <div class="left_spanish-2">60%</div>
                        </div>
                    </div>

                </div>
                <div class="marginer">4</div>
                <div class="left_4"></div>
                <div class="marginer">4</div>
                <div class="left_5"></div>
                <div class="marginer">4</div>
                
            </div>
            <div class="midd_frame"></div>
            <div class="right_frame"></div>
        </div>
    </div>
</body>
</html>